*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}
/* header and navigation bar style*/
.header{
   
    background-image: url('../images/header_bg.jpg');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 300px 410px;
    

}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
    align-items: center;
}
nav ul{
    display: flex;
    align-items: center;

}
nav li{
    list-style: none;
    margin-left: 50px;
}
.nav-title{
    font-family: 800;
    font-size: 45px;

}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    height: 64px;
    border-radius: 5px;
    background:  #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 18px 35px;

}
/* banner styles*/
.banner{
    display: flex;
    margin: 0 200px;
    align-items: center;

}
.banner-title{
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 15px;

}
.banner-sub{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 10px;
}
.banner-des{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;

}
/*main section styles*/
main{
    max-width: 1140px;
    margin: 0 auto;

}
/* about section styles*/
.about{
    text-align: center;
    margin-top: 130px;
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;


}
.section-title{
    
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;

}
.section-des{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;

}
.about-info-container{
    display: flex;
    justify-content: space-around;

}
.about .info-title{
    font-size: 20px;
    color: #757575;
}
.about .info-des{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}